# Source files
src/**
client/src/**
**/*.ts
**/*.tsx

# Rust build artifacts
target/**
Cargo.toml
Cargo.lock
build.rs
.cargo/**

# Node modules
node_modules/**

# Tests
test_fixtures/**
scripts/**

# Config files
**/.vscode/**
.gitignore
.editorconfig
*.md
